//COLORS 
$color-green: #20d8ba;
$color-green-light: #1de7c3;
$color-green-dark: #21b8a9;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #ebebeb;
$color-grey-dark: #474747;
$color-grey-dark2: #444343;
$color-grey-dark3: #333;
$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 2.2rem;
$idea-font-size: 2rem;
$proposition-font-size: 1.8rem;

//ICON
$default-icon-size: 1.6rem;

//GRID
$grid-width: 118rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;
