.footer {
    background-color: $color-grey-light-2;
    padding: 4rem 0;
    font-size: 1.4rem;

    &__logo-box {
        text-align: center;
    }

    &__logo {
        width: 10rem;
        height: auto;
    }
    
    &__list {
        list-style: none;
    }

    &__item {
        display: block;

        &--social {
            margin-top: 1rem;
            display: inline-block;
        }
    }

    &__link {      
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-grey-dark;
            transition: all .3s;
            display: inline-block;
        }

        &:hover,
        &:active {
            color: $color-green;
            transform: translateY(-1px);
            //box-shadow: 0 1rem 5rem rgba($color-black, .3);
        }

    }

    &__copyright {
        text-align: center;
    }
}