.header {
    height: 95vh;
    
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    position: relative;
    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    padding: 2rem;   
    
    &__navigation {
        display: flex;
        flex-direction: column;
        margin-bottom: 20vh;
               
        &--upper,
        &--lower {
            display: flex;
            flex-direction: row;
            
        }

        &--upper {
            justify-content: space-between;
        }

        &--lower {
            justify-content: flex-end;
        }

        &--sticky {
            position: fixed;
            top:0;
            left:0;
            width: 100%;
            background-color: rgba($color-white, .98);
            color: $color-grey-dark;
            //padding: 1rem 3rem 1rem;
            //display: flex;
            //flex-direction: row;
            //justify-content: space-between;
            //align-items: center;
            z-index: 200 !important;
            box-shadow: 0 2px 2px $color-grey-light-2;

            & .header__navigation--upper {
                display: flex;
                justify-content: space-between;
                padding: 1rem 3rem 1rem;

                & .header__logo {
                    height: 3rem;
                }
                
                & .header__menu .main-nav {
                    list-style: none;
                
                    &__item{
                        display: inline-block;
                        margin-left: 2rem;
                        color: $color-grey-dark;
                        font-size: 1.4rem;
                        letter-spacing: .1rem;        
                
                        & a:link,
                        & a:visited {
                            color: $color-grey-dark;
                            padding:.5rem 0;
                            text-decoration: none;
                            text-transform: uppercase;            
                            border-bottom: 1px solid transparent;
                            transition: all .3s;        
                        }
                
                        & a:hover,
                        & a:active {
                            color: $color-green;
                            border-bottom: 1px solid $color-green;
                        }                
                    }
                }
            }

            & .header__navigation--lower {
                display: none;
            } 
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }    

    &__logo {
        height: 5.5rem;
    }

    &__text-box {
        display: inline-block; 
        text-align: center;
    }  
    
}

