.header {  
    z-index: 300;
    position: absolute;
    padding: 3rem;
    top:0;
    left:0;
    width: 100%;


    &__navigation {
        display: flex;
        flex-direction: column;
               
        &--upper,
        &--lower {
            display: flex;
            flex-direction: row;            
        }

        &--upper {
            justify-content: space-between;            
        }

        &--lower {
            justify-content: flex-end;
        }

        &--sticky {
            position: fixed;
            top:0;
            left:0;
            width: 100%;
            background-color: rgba($color-white, .98);
            color: $color-grey-dark;
            z-index: 200;
            box-shadow: 0 2px 2px $color-grey-light-2;

            & .header__navigation--upper {
                display: flex;
                justify-content: space-between;
                padding: 1rem 3rem 1rem;

                & .header__logo {
                    height: 3rem;
                }

                & .icon-white {
                    color: $color-grey-dark;
                    font-size: 4rem;
                }
                
                & .header__menu .main-nav {
                    list-style: none;
                
                    &__item{
                        display: inline-block;
                        margin-left: 2rem;
                        color: $color-grey-dark;
                        font-size: 1.4rem;
                        letter-spacing: .1rem;        
                
                        & a:link,
                        & a:visited {
                            color: $color-grey-dark;
                            padding:.5rem 0;
                            text-decoration: none;
                            text-transform: uppercase;            
                            border-bottom: 1px solid transparent;
                            transition: all .3s;
                            
                            @include respond(tab-land) {
                                border-bottom: 0;
                            }
                        }
                
                        & a:hover,
                        & a:active {
                            color: $color-green;
                            border-bottom: 1px solid $color-green;

                            @include respond(tab-land) {
                                border-bottom: 0;
                                color: $color-grey-dark;
                            }
                        }                
                    }
                }
            }

            & .header__navigation--lower {
                display: none;
            } 
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include respond(tab-port) {
            display: none;
            justify-content: flex-start;
        }
    }    

    &__logo {
        height: 5.5rem;
    }
    
    &__social {
        @include respond(tab-port) {
            //display: none;
        }
    }
}