.main-nav {
    list-style: none;

    &__item{
        display: inline-block;
        margin-left: 2rem;
        color: $color-white;
        font-size: 1.6rem;
        letter-spacing: .1rem;        

        & a:link,
        & a:visited {
            color: $color-white;
            padding:1rem 0;
            text-decoration: none;
            text-transform: uppercase;            
            border-bottom: 1px solid transparent;
            transition: all .3s;        
        }

        & a:hover,
        & a:active {
            border-bottom: 1px solid $color-white;
        }

        &--social {
            margin-top: 1rem;
            display: inline-block;
            border-bottom: 1px solid transparent;
            padding-left: .5rem;
            padding-top: .5rem;
        }
    }
}