.main-nav {
    list-style: none;

    &__item{
        display: inline-block;
        margin-left: 2rem;
        color: $color-white;
        font-size: 1.6rem;
        letter-spacing: .1rem;        

        & a:link,
        & a:visited {
            color: $color-white;
            padding:1rem 0;
            text-decoration: none;
            text-transform: uppercase;            
            border-bottom: 1px solid transparent;
            transition: all .3s;        
        }

        & a:hover,
        & a:active {
            border-bottom: 1px solid $color-white;
        }

        &--social {
            margin-top: 1rem;
            display: inline-block;
            border-bottom: 1px solid transparent;
            padding-left: .5rem;
            padding-top: .5rem;
        }
    }
}

/*.sticky-navigation {
    
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: rgba($color-white, .98);
    color: $color-grey-dark;
    padding: .5rem 3rem .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
    box-shadow: 0 2px 2px $color-grey-light-2;

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }    

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        display: inline-block; 
        text-align: center;
    }
    
    & .main-nav {
        list-style: none;
    
        &__item{
            display: inline-block;
            margin-left: 2rem;
            color: $color-grey-dark;
            font-size: 1.4rem;
            letter-spacing: .1rem;        
    
            & a:link,
            & a:visited {
                color: $color-grey-dark;
                padding:.5rem 0;
                text-decoration: none;
                text-transform: uppercase;            
                border-bottom: 1px solid transparent;
                transition: all .3s;        
            }
    
            & a:hover,
            & a:active {
                color: $color-green;
                border-bottom: 1px solid $color-green;
            }                
        }
    }
    
}*/